@page "/quadras"
@using AppExemplo.Models;
@inject QuadraDAO QuadraDAO;

<PageTitle>Quadras</PageTitle>

<style>
    .main-title {
        margin-bottom: 1.5rem;
        font-weight: 600;
    }

        .main-title::before {
            content: "";
            width: 8px;
            height: 100%;
            border: 2px solid #e39b34;
            margin-right: 0.5rem;
        }
</style>

<h1 class="main-title text-2xl font-semibold mt-3">Quadras</h1>

<a href="/quadra-form" class="btn btn-sm btn-primary">Nova Quadra</a>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var quadra in listaQuadras)
        {
            <tr>
                <td>@quadra.Nome</td>
                <td>@quadra.Descricao</td>
                <td>@quadra.Valor</td>
                <td>@quadra.Status</td>
                <td>
                    <a href="/quadra/@quadra.Id/atualizar" class="btn btn-sm btn-primary mr-2">
                        <i class="fas fa-edit"></i> Atualizar
                    </a>
                    <a href="/quadra/@quadra.Id/excluir" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i>Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<Quadra> listaQuadras = new();

    protected override void OnInitialized()
    {
        CarregarQuadras();
    }

    private void CarregarQuadras()
    {
        listaQuadras = QuadraDAO.ListarTodos();
    }
}