@* Hamburguer.razor *@
<div class="pl-3">
    <svg
      height="30"
      viewBox="0 -960 960 960"
      width="30"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"
      />
    </svg>
</div>

@code {
    [Parameter] public string Width { get; set; } = "19";
    [Parameter] public string Height { get; set; } = "24";
    [Parameter] public string Color { get; set; } = "currentColor";
}
