@inherits LayoutComponentBase


<NavMenu />

<!-- Main content -->
<div class="flex flex-col flex-1">
    <!-- Navbar -->
    <header class="bg-white shadow-md h-16 flex items-center justify-between px-6 transition-colors duration-500">     
        <!-- User menu + tema -->
        <div class="flex justify-content-between items-center gap-4 relative">
            <button id="bell" class="text-gray-600 hover:text-indigo-600 transition">
				<AppExemplo.Components.icons.Bell Color="orange" Width="15" Height="20"/>
            </button>
            <div class="relative">
                <!-- Logo -->
                <div class="flex items-center gap-2">
                    <img src="/images/logo.svg" alt="Logo" class="h-12 w-12">
                </div>
            </div>
        </div>
    </header>



    <!-- Conteúdo principal -->
    <main class="p-6 flex-1">
        @Body
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>