@* 
<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
</NavLink> *@

<!-- Sidebar -->
<div id="sidebar" class="bg-[#E39B34] h-full w-64 p-4 flex flex-col shadow-lg transition-all duration-300">
    <button id="toggleSidebar"
            class="mb-6 flex items-center gap-2 text-white">
		<AppExemplo.Components.icons.Hamburguer Width="19" Height="24" />
        <span class="font-medium sidebar-text">Menu</span>
    </button>

    <nav class="flex flex-col gap-4 flex-1">
        <a href="/"
           class="flex items-center gap-3 p-2 rounded-lg hover:bg-[#808080] text-white">
            <AppExemplo.Components.icons.Home Color="white" Width="19" Height="24"/>
            <span class="sidebar-text">Home</span>
        </a>

        <NavLink class="flex items-center gap-3 p-2 rounded-lg hover:bg-[#808080] text-white" href="/relatorios" Match="NavLinkMatch.All">
            <AppExemplo.Components.icons.Report/>
            <span class="sidebar-text">Relatórios</span>
        </NavLink>


        <a href="/clientes-page"
           class="flex items-center gap-3 p-2 rounded-lg hover:bg-[#808080] text-white">
            <AppExemplo.Components.icons.AddPeople/>
            <span class="sidebar-text">Clientes</span>
        </a>

        <a href="/agendamentos"
           class="flex items-center gap-3 p-2 rounded-lg hover:bg-[#808080] text-white">
            <AppExemplo.Components.icons.Calendar />
            <span class="sidebar-text">Agendamentos</span>
        </a>

        <a href="/funcionarios"
           class="flex items-center gap-3 p-2 rounded-lg hover:bg-[#808080] text-white">
            <AppExemplo.Components.icons.Peoples />
            <span class="sidebar-text">Funcionários</span>
        </a>

        <a href="/quadras"
           class="flex items-center gap-3 p-2 rounded-lg hover:bg-[#808080] text-white">
            <AppExemplo.Components.icons.Court />
            <span class="sidebar-text">Quadras</span>
        </a>
    </nav>

    <!-- Sair no final -->
    <a href="/configuracoes-page"
       class="flex items-center gap-3 p-2 rounded-lg hover:bg-[#808080] text-white">
        <AppExemplo.Components.icons.Settings />
        <span class="sidebar-text">Configurações</span>
    </a>

    <a href="#"
       class="flex items-center gap-3 p-2 rounded-lg mt-6 hover:bg-[#90260c] hover:text-white text-[#90260c] ">
        <AppExemplo.Components.icons.Exit/>
        <span class="sidebar-text">Sair</span>
    </a>
</div>
   