@page "/funcionario/{Id:int}/atualizar"
@rendermode InteractiveServer

@using AppExemplo.Models;
@inject FuncionarioDAO funcionarioDAO;
@inject NavigationManager Navigation;

<PageTitle>Funcionario</PageTitle>

<h1 class="text-xl font-semibold text-gray-800 dark:text-black-100 mb-6">Atualização Funcionáro - @funcionario.Nome</h1>

@if (erro != string.Empty)
{
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4" role="alert">
        <strong class="font-bold">Erro!</strong>
        <span class="block sm:inline">@erro</span>
    </div>
}

<EditForm Model="funcionario" OnSubmit="Salvar">
    <div class="form-group mb-4">
        <label>Nome</label>
        <input @bind="funcionario.Nome" type="text" class="form-control" name="nome" placeholder="Informe o nome" />
    </div>

    <div class="form-group mb-4">
        <label>CPF</label>
        <input @bind="funcionario.Cpf" type="text" class="form-control" name="cpf" placeholder="Informe o CPF" />
    </div>

    <div class="form-group mb-4">
        <label>Telefone</label>
        <input @bind="funcionario.Telefone" type="text" class="form-control" name="telefone" placeholder="Informe o telefone" />
    </div>

    <div class="form-group mb-4">
        <label>Email</label>
        <input @bind="funcionario.Email" type="text" class="form-control" name="email" placeholder="Informe o email" />
    </div>

    <div class="form-group mb-4">
        <label>Endereco</label>
        <input @bind="funcionario.Endereco" type="text" class="form-control" name="endereco" placeholder="Informe o endereco" />
    </div>

    <div class="form-group mb-4">
        <label>Função</label>
        <input @bind="funcionario.Funcao" type="text" class="form-control" name="funcao" placeholder="Informe a função" />
    </div>

    <button @onclick="Salvar" class="btn btn-primary">Salvar</button>
</EditForm>

@code {

    private string erro = string.Empty;

    [Parameter]
    public int Id { get; set; }

    private Funcionario funcionario { get; set; } = new Funcionario
{
    Nome = string.Empty,
    Cpf = string.Empty,
    Telefone = string.Empty,
    Funcao = string.Empty
};


    protected override void OnInitialized()
    {
        var _funcionario = funcionarioDAO.BuscarPorId(Id);

        if (_funcionario != null)
        {
            funcionario = _funcionario;
        }
        else
        {
            erro = "Funcionario não encontrado.";
        }
    }

    private void Salvar()
    {
        try
        {
            funcionarioDAO.Atualizar(funcionario);

            Navigation.NavigateTo("/Funcionarios");
        }
        catch (Exception ex)
        {
        erro = $"Erro ao salvar o funcionario: {ex.Message}";
        }

    }
}