@page "/funcionario-form"
@rendermode InteractiveServer
@using AppExemplo.Models;
@inject FuncionarioDAO FuncionarioDAO;
@inject NavigationManager Navigation;

<PageTitle>Cadastro de Funcionário</PageTitle>

<h1 class="text-2xl font-semibold mt-3 mb-5">Cadastro de Funcionário</h1>

@if (erro != null)
{
    <div class="alert alert-danger">
        @erro
    </div>
}

<div class="row">
    <div class="col">
        <form>
            <div class="form-group mb-4">
                <label>Nome</label>
                <input @bind="_novoFuncionario.Nome" type="text" class="form-control" name="nome" placeholder="Informe o nome" />
            </div>

            <div class="form-group mb-4">
                <label>CPF</label>
                <input @bind="_novoFuncionario.Cpf" type="text" class="form-control" name="cpf" placeholder="Informe o CPF" />
            </div>

            <div class="form-group mb-4">
                <label>Telefone</label>
                <input @bind="_novoFuncionario.Telefone" type="text" class="form-control" name="telefone" placeholder="Informe o telefone" />
            </div>

            <div class="form-group mb-4">
                <label>Email</label>
                <input @bind="_novoFuncionario.Email" type="text" class="form-control" name="email" placeholder="Informe o email" />
            </div>

            <div class="form-group mb-4">
                <label>Endereco</label>
                <input @bind="_novoFuncionario.Endereco" type="text" class="form-control" name="endereco" placeholder="Informe o endereco" />
            </div>

            <div class="form-group mb-4">
                <label>Função</label>
                <input @bind="_novoFuncionario.Funcao" type="text" class="form-control" name="funcao" placeholder="Informe a função" />
            </div>

            <button @onclick="Salvar" class="btn btn-primary">Salvar</button>
        </form>
    </div>
</div>

@code {
    private string? erro = null;

    private Funcionario _novoFuncionario = new()
    {
        Nome = "",
        Telefone = "",
        Cpf = "",
        Email = "",
        Endereco = "",
        Funcao = "",

    };

    private void Salvar()
    {
        FuncionarioDAO.Inserir(_novoFuncionario);
        Navigation.NavigateTo("/funcionarios");
    }
}

