@page "/cliente-form"
@rendermode InteractiveServer

@using AppExemplo.Models;
@inject ClienteDAO ClienteDAO;
@inject NavigationManager Navigation;

<PageTitle>Cadastro de Cliente</PageTitle>

<h1 class="main-title text-2xl font-semibold mt-3">Novo Cliente</h1>

@if (erro != null)
{
    <div class="alert alert-danger">
        @erro
    </div>
}

<div class="row">
    <div class="col">
        <form>
            <div class="form-group mb-4">
                <label>Nome</label>
                <input @bind="_novoCliente.Nome" type="text" class="form-control" name="nome" placeholder="Informe o nome" />
            </div>

            <div class="form-group mb-4">
                <label>Telefone</label>
                <input @bind="_novoCliente.Telefone" type="text" class="form-control" name="telefone" placeholder="Informe o telefone" />
            </div>

            <div class="form-group mb-4">
                <label>Email</label>
                <input @bind="_novoCliente.Email" type="text" class="form-control" name="email" placeholder="Informe o email" />
            </div>

            <div class="form-group mb-4">
                <label>CPF</label>
                <input @bind="_novoCliente.Cpf" type="text" class="form-control" name="cpf" placeholder="Informe o CPF" />
            </div>

            <button @onclick="Salvar" class="btn btn-primary">Salvar</button>
        </form>
    </div>
</div>

@code {
    private string? erro = null;

    private Cliente _novoCliente = new()
    {
        Nome = "",
        Telefone = "",
        Cpf = ""
    };

   private void Salvar()
    {
        try
        {
            ClienteDAO.Inserir(_novoCliente);
            ClienteDAO.Atualizar(_novoCliente);
            ClienteDAO.Excluir(_novoCliente.Id);

            Navigation.NavigateTo("/clientes");
        }
        catch (Exception ex)
        {
            erro = $"Erro ao salvar o cliente: {ex.Message}";
        }
    }
}
