<button class="ui-button @(OutlineOnClick ? "button-outline" : "") @Class" @onclick="OnClick" disabled="@Disabled">
    <span class="button-text">
        @ChildContent
    </span>
    @if (EndIcon is not null)
    {
        <span class="icon-slot">
            @EndIcon
        </span>
    }
</button>

@code {
    [Parameter] public bool OutlineOnClick { get; set; } = true;
    [Parameter] public bool Disabled { get; set; } = false;

    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public RenderFragment? EndIcon { get; set; }
    [Parameter] public string? Class { get; set; }

    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }
}

<style>
    .ui-button {
        display: inline-flex; /* mantém texto e ícone na mesma linha */
        align-items: center; /* centraliza verticalmente */
        justify-content: space-between; /* texto à esquerda, ícone à direita */
        gap: 0.5rem;
        padding: 0.875rem 1.25rem;
        min-width: 150px; /* largura mínima opcional */
        border-radius: 0.5625rem;
        background-color: #e39b34;
        color: #f7f7f7;
        font-weight: 600;
        cursor: pointer;
        transition: box-shadow 0.2s ease;
        white-space: nowrap; /* evita quebra de linha */
    }

        .ui-button:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }

    .button-outline:focus,
    .button-outline:focus-within {
        box-shadow: 0 0 0.5px 5px rgba(227, 155, 52, 0.3);
        outline: none;
    }

    .button-text {
        flex-grow: 1; /* ocupa todo o espaço restante */
        overflow: hidden; /* evita que o texto vaze do botão */
        text-overflow: ellipsis; /* adiciona "..." se o texto for grande */
        white-space: nowrap; /* impede quebra de linha */
    }

    .icon-slot {
        flex-shrink: 0; /* ícone não encolhe nem quebra linha */
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .buttons-section .ui-button {
        background-color: transparent;
        border: 2px solid #e39b34;
        color: #e39b34;
    }

        .buttons-section .ui-button .icon-slot {
            color: #e39b34;
        }

</style>
